@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
body{
    font-family:'Grape Nuts';
}
nav{
  position: sticky;
  top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}



.title{
    color: green;
}


.list{
    display: inline;
    margin: 2mm;
    padding-right: 2px;
    font-size: medium;
    border: 1px solid yellow;
}
.link{
    color: black;
    text-decoration: none;
}
/* landing page section css  */
.landing_section{
    background: url('../images/bg.jpg');
    background-color: red;
    background-size: cover;
}
.content{
    text-align: center;
    padding: 15rem;
   
}
.content_subheading{
    color: green;

}
.btn-primary{
 background-color: green;
 color: ghostwhite;
 margin: auto;
 padding: 9px;
 border: none;
 border-radius: 15px;
 font-size: 1rem;
}
/*video section css */
.video_section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.highlighted_text{
    color: chartreuse;
}
.video_section{
    border: 1px solid black;
    padding: 4rem;
}
.imageinfo{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    
}

.left img{
    width: 500px;
    height: 250px;

    
}
.image2info{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 10%;

}
.highlighted2_text{
    color: green;
    
}
.leftimage{
    width: 500px;
    height: 250px;
}

.right
{
    width: 30%;
    
    
}
.mealplan{
    text-align: center;

}
.link:hover{
    color: brown;
}
.picture_info{
    display: flex;
    justify-content: space-around;
    background: url(../images/bgimg2.jpg);
    background-repeat:no-repeat;
background-position-x:100px;
background-position-y: 460px;
padding-bottom: 100px;
padding-right: 50px;
margin-bottom: 20px;

   
}
.right_part{
display: grid;
grid-template-columns: auto auto;
gap: 25px;
}

.left_part{
    width: 360px;
    padding: 20px;
    font-size: 30px;
  
    
 
   

}
.tero_tauko{
    background-color: rgba(220, 206, 206, 0.93);
    position: absolute;
    bottom: -20px;
    left: -15px;
    padding: 12px 12px;
    border-radius: 15px;

}
.jheu_lagyo{
    position: relative;
    box-shadow: -11px 14px 16px -3px rgba(0,0,0,1);
-webkit-box-shadow: -11px 14px 16px -3px rgba(0,0,0,1);
-moz-box-shadow: -11px 14px 16px -3px rgba(0,0,0,1);

}

.txt_txt{
    text-align: justify;
} 
    
